* { max-width: 1200px;
    margin: 0 auto;
    
} 
 body {
    
    margin: 40px;
    padding: 20px ;
    
}
h1 {
    font-size: 75% larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 30px;
}
 h2#title {
     float: right; top: 1px;
    color: black;
    border:1px solid black;
    background-color:pink;
    font-size: medium;
}
.box { 
  
    font-size: large;
    padding: 10px;
    border:1px solid black;
    height: 180px;
    width: 280px;
    display: inline-block;
    background-color: pink;
   /* box-sizing: border-box;*/
    margin: 10px;
    text-align: bottom;
    
    
}

p{
  margin: 20px;
  padding-top: 10px;
}
   /* for desktop*/
@media ( min-width:992px) and (max-width:1400px){
   .box {
      width: 280px;
      display: inline-block;
   }
   
  }

@media (min-width: 768px) and (max-width: 991px){
  .box{
      width:680px;
     display: inline-block;
     
  }
}
  /*#direct {
    width: 980px;

  }
}
/*@media only screen and (max-width: 767px) { 
  .box { 
   width: 1320px;
  }
}